.titulo-encabezado {
  margin-top: 50px;
  margin-right: 100px;
}

.titulo-encabezado h1 {
  color: #138086;
  font-size: 50px;
}

.logo-titulo {
  width: 200px;
  padding-left: 40px;
}

#logo-nav {
  width: 50px;
}

.encabezado-container {
  color: #138086;
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

p { 
  text-align: justify;
  color: #138086;
}

#imghome {
  width: 600px;
  height: 500px;
}

#navprincipal {
  background-color: #138086bc;
}

.GrupoText {
  margin-left: 50px;
  margin-top: 100px;
  width: 600px;
}

.encabezado-container .btn {
  color: #f6f4f3;
  background-color: #DC8665;
  width: 150px;
}
.encabezado-container .btn:hover {
  background-color: #dc876599;
  color: white;
}

.contacto {
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto .btn {
  color: #f6f4f3;
  background-color: #DC8665;
  width: 100%;
}

.contacto .btn:hover {
  background-color: #dc876599;
  color: white;
  width: 100%;
}

.titulo-servicios {
  margin-top: 60px;
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
  margin-left: 50px;
  margin-right: 50px;
}

.img-servicios {
  width: 400px;
  height: 250px;
}

.img-servicios2 {
  width: 400px;
  height: 250px;
}

.herramientas-home {
  width: 45%;
  display: flex;
  margin-left: 200px;
}

.herramientas-home h4{
  border-bottom: 2px solid #DC8665;
  color: #138086;
}

.herramientas-home2 {
  width: 45%;
  display: flex;
  margin-left: 650px;
}

.herramientas-home2 h4{
  border-bottom: 2px solid #DC8665;
  color: #138086;
}

#piedepagina {
  background-color: #13808698;
  height: 130px;
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}

#piedepagina h6 {
  align-self: center;
  color: white;
}

.formulario {
  width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  color: #138086;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario .btn {
  background-color: #DC8665;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.formulario .btn:hover {
  background-color: #dc876599;
  color: white;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
  color: #138086;
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #dc876599;
  padding-bottom: 0.5rem;
}

.forgot-password-link {
  color: #138086;
  text-decoration: none;
  font-size: 0.9rem;
}

.terms-link {
  color: #138086;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.Nuevoproyecto-btns .btn{
  width: 10%;
  height: 20%;
}

#nuevoCliente-btn {
  width: 15%;
}

#nuevoproyecto-btn {
  background-color: #13808698  !important;
  color: white !important;
}

#nuevoproyecto-btn:hover {
  background-color: #13808650  !important;
}

.sidebar {
  background-color: #138086bc;
  border-radius: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 500px;
}

.nav-pills .nav-link.active {
  background-color: white !important;
  color: #138086 !important;
}

.nav-pills .nav-link {
  color: white;
  width: 100%;
  margin-top: 20px;
  border-radius: 1px;
}

.nav-pills .nav-link:hover {
  background-color: #ffffff50;
  color: white;
}


.sidebar h1 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.sidebar h5 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.sidebar h6 {
  color: white;
  text-align: center;
}

#btn-modal {
  color: white;
  width: 100%;
  margin-top: 20px;
  border-radius: 1px;
}

#btn-modal:hover {
  background-color: #ffffff50;
  color: white;
}

.seccion-proyectos h1 {
  color: #138086;
  border-bottom: 2px solid #dc876599;
}

.contenido-tareas {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}

.contenido-tareas h2 {
  font-size: 30px;
  font-weight: bold;
  color: #138086;
  text-align: center;
  padding-bottom: 0.5rem;
}

.contenido-pagos {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}

.contenido-pagos h2 {
  font-size: 30px;
  font-weight: bold;
  color: #138086;
  text-align: center;
  margin-bottom: 20px;
}

.seccion-proyectos button {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seccion-proyectos button:hover {
  background-color: #dc876599;
  color: white;
}

#btn-proyecto-nuevo {
  background-color: #13808698;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-proyecto-nuevo:hover {
  background-color: #13808650;
  color: white;
}

#proyectos-page {
  width: 100%;
  margin-left: 10px;
}

#sec-proyect {
  padding-left: 440px;
}

#proyectos-p {
  margin-left: 440px;
}

#btn-eliminar-proyecto {
  background-color: #13808698;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-eliminar-proyecto:hover {
  background-color: #13808650;
  color: white;
}

.card {
  width: 300px;
}

.modal-footer .btn {
  background-color: #13808698;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.modal-footer .btn:hover {
  background-color: #13808650;
  color: white;
}

.modal-title {
  color: #138086;
  border-bottom: 2px solid #DC8665;
}

#v-pills-contratos {
  width: 1300px;
}

#contratos-div {
  width: 1319px;
}

#titulo-contratos {
  display: flex;
  justify-content: center;
}

#titulo-contratos h1{
  width: 500px;
  color: #138086;
  border-bottom: 2px solid #DC8665;
}

.btns-contratosform .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btns-contratosform .btn:hover {
  background-color: #dc876599;
  color: white;
}

.card-body h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
  margin-bottom: 20px;
}

.card-body h5 {
  color: #138086;
}

.card-footer .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-body h4 {
  color: #138086;
}

.card-footer .btn:hover{
  background-color: #dc876599;
  color: white;
}

.home {
 width: 1300px; 
}

.tarjeta-bienvenida {
  width: 1000px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px #138086bc;
  margin: auto;
  padding: 2rem;
  gap: 1rem;
}

.card-body-text {
  width: 300px;
  padding: 10px;
}

.card-body-text h1{
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

.img-home {
  width: 500px;
}

.calendar {
  border-radius: 10px;
  box-shadow: 0 4px 8px #138086bc;
  padding: 1.5rem;
  
}

.card-home {
  border-radius: 10px;
  box-shadow: 0 4px 8px #138086bc;
  padding: 1.5rem;
}

.card-home h3 {
  color: #138086;
  text-align: center;
  padding-bottom: 10px;
}

.card-home .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.card-home .btn:hover {
  background-color: #dc876599;
  color: white;
}

.perfil-usuario {
  width: 100%;
  margin-left: 150px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.perfil-datos {
  width: 300px;
  margin: auto;
}

.perfil-datos h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

.perfil-usuario .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.perfil-usuario .btn:hover {
  background-color: #dc876599;
  color: white;
}

#img-perfil {
  width: 550px;
  height: 450px;
}

#correo-form {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

#correo-form h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

#correo-form .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 10px;
}

#correo-form .btn:hover {
  background-color: #dc876599;
  color: white;
}

#codigo-form {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

#codigo-form h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

#codigo-form a {
  color: #138086;
}

#codigo-form .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 10px;
}

#codigo-form .btn:hover {
  background-color: #dc876599;
  color: white;
}

#contraseña-form {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

#contraseña-form h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

#contraseña-form .btn{
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 10px;
}

#contraseña-form .btn:hover {
  background-color: #dc876599;
  color: white;
}

#clientes-tabla {
  width: 1220px;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#clientes-tabla h2 {
  color: #138086;
  text-align: center;
  border-bottom: 2px solid #DC8665;
}

#clientes-tabla .btn {
  background-color: #DC8665;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#clientes-tabla .btn:hover {
  background-color: #dc876599;
  color: white;
}










